{% extends 'main_page/base.html' %}
{% block title %}Error the page you were looking for was not found.{% endblock title %}
{% block main %}
<div class="container">
    <div _ngcontent-serverapp-c46="" class="col-md-12 mt-5"><div _ngcontent-serverapp-c46="" class="error-template"><h1 _ngcontent-serverapp-c46="" class="text-center"> Oops!</h1><h2 _ngcontent-serverapp-c46="" class="text-center"> 404 Not Found</h2><div _ngcontent-serverapp-c46="" class="error-details text-center"> Sorry, The requested page not found! </div><div _ngcontent-serverapp-c46="" class="error-actions text-center"><p _ngcontent-serverapp-c46=""><a _ngcontent-serverapp-c46="" routerlink="/" class="btn btn-primary btn-sm my-2 mx-1" href="/">Go to Home</a><a _ngcontent-serverapp-c46="" routerlink="/videos" class="btn btn-success btn-sm my-2 mx-1" href="/t-shirts">Shop for T-Shirts</a><a _ngcontent-serverapp-c46="" routerlink="/blog" class="btn btn-danger btn-sm my-2 mx-1" href="/trousers">Shop for Trousers</a></p></div></div></div>
</div>
{% endblock main %}