{% extends 'main_page/base.html' %}
{% block title %}Our Services{% endblock title %}
{% block css %}
.contact-btn{
    width: 8rem
  }
{% endblock css %}
{% block main %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">RRPT textiles</h1>
      <p>Anything about RRPT textiles...........</p>
      <p><a class="btn btn-primary theme contact-btn btn_bg btn-lg" href="/contact" role="button">Contact Us&raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Apply for Job</h2>
        <p>What jobs are avilable for workwers.Such as sewing.........</p>
        <p><a class="btn theme btn_bg contact-btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Order Your own Costom Design</h2>
        <p>Make your Merch, or Order Coustom design for..........(min-quantity:- 100 pices) </p>
        <p><a class="btn theme btn_bg contact-btn btn-secondary" href="/Order a custom design" role="button">Order now &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Any thing else here....</h2>
        <p>fjldhn hvkdhs</p>
        <p><a class="btn theme btn_bg contact-btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
{% endblock main %}