{% extends 'main_page/base.html' %}
{% block title %}Intenal Server Error.{% endblock title %}
{% block main %}
<div class="container">
    <div _ngcontent-serverapp-c46="" class="col-md-12 mt-5"><div _ngcontent-serverapp-c46="" class="error-template"><h1 _ngcontent-serverapp-c46="" class="text-center"> Oops!</h1><h2 _ngcontent-serverapp-c46="" class="text-center"> 505 internel server error</h2><div _ngcontent-serverapp-c46="" class="error-details text-center"> Sorry, The requested page not found! </div><div _ngcontent-serverapp-c46="" class="error-actions text-center"><p _ngcontent-serverapp-c46=""><a _ngcontent-serverapp-c46="" routerlink="/" class="btn btn-primary btn-sm my-2 mx-1" href="/">Go to Home</a><a _ngcontent-serverapp-c46="" routerlink="/videos" class="btn btn-success btn-sm my-2 mx-1" href="/t-shirts">Shop for T-shirts</a><a _ngcontent-serverapp-c46="" routerlink="/blog" class="btn btn-danger btn-sm my-2 mx-1" href="/trousers">Shop for Trousers</a></p></div></div></div>
</div>
{% endblock main %}



content: "";
    /* animation: 2s linear 0s infinite normal none running kVWZcI; */
    /* background-image: conic-gradient(rgb(51, 146, 243) 20deg, transparent 120deg); */
    height: 250%;
    width: 150%;
    position: absolute;
    left: -25%;
    top: -65%;
}
<style>
*, ::before, ::after {
    box-sizing: inherit;
}
<div class="styles__RotatingBorder-sc-15uuf5r-13 lmnPNp"><button class="BaseButton-sc-1ha84b-0 SecondaryBtn__SecondaryBtnDetails-sc-1ut574a-0 kQwhPo styles__ModalConfirmBtn-sc-15uuf5r-1 bbNXYX" style="inset: 5px; position: relative;"> Save</button></div>
/*  THERE ARE SOME ANIMATIONS ON BUTTONS OF FLIPKART WHICH I GUSS I CAN SIMPLY COPY */